.logo-container {
    position: relative;
    display: flex;
    /*    flex-direction: column;*/
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 30px;
}

.logo-container svg {
    height: 100%;
    fill: var(--bg);
}

.logo-container h1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: logo;
    font-size: var(--fs);
    font-weight: normal;
    color: var(--txt);

}


/* dark */
.logo.dark {}
