:root {

    --color1: #374d99;
    --color1-translucent: rgba(55, 77, 153, 0.77);
    --color1-text: #ffffff;
    --color1-text2: #e6c43e;
    --color1-logo-s1: #e6c43f;
    --color1-logo-s2: #fbaa2d;
    --color1-logo-s3: #ffffff;
    --color1-logo-text: #ffffff;
    --color1-btn: #e6c43e;
    --color1-btn-text: #000000;

    --color2: #e6c43e;
    --color2-text: #000000;
    --color2-logo: #5a5a5a;

    --color3: #8ce6a1;
    --color3-text: #5a5a5a;
    --color3-logo: #000000;

    --color4: #ffffff;
    --color4-text: #000000;
    --color4-text2: #363636;
    --color4-logo: #000000;

    --color5: #363636;
    --color5-text: #ffffff;
    --color5-text: #ffffff;
    --color5-logo-s1: #ffffff;
    --color5-logo-s2: #fbaa2d;
    --color5-logo-s3: #5265a7;
    --color5-logo-text: #ffffff;
    --color5-btn: #e6c43e;
    --color5-btn-text: #000000;

    --color6: linear-gradient(rgba(55, 77, 153, 0.87), rgba(230, 196, 62, 0.63));
    --color6-text: #000000;
}

/* Media query para dark mode */
/*
@media (prefers-color-scheme: dark) {
    :root {
        --color1: #36BFA5;
        --color1-text: #000;

        --color2: #17A2B8;
        --color2-text: #000;

        --color3: #343A40;
        --color3-text: #fff;

        --color-logo1: #36BFA5;
        --color-logo1-text: #000;

        --color-logo2: #17A2B8;
        --color-logo2-text: #000;
    }
}
*/
